
      <!-- Hard -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">Hard & Soft Skills</p>
        <p>Dominio de herramientas:</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 60%"></div>
          </div>
          <span class="badge text-bg-primary">CSS</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 60%"></div>
          </div>
          <span class="badge text-bg-primary">JavaScript</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 60%"></div>
          </div>
          <span class="badge text-bg-primary">Bootstrap</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 50%"></div>
          </div>
          <span class="badge text-bg-primary">Angular</span>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 40%"></div>
          </div>
        </div>
      </div>

