<!-- Seccion-->
<section class="hero align-items-stretch">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <img class="hero-imagen-desarrollador rounded-circle" src="../../../assets/gatitofotodeperfil.png" alt="Foto de Andrade Yanina">
    <h1>Hola, soy Yanina Andrade</h1>
    <h2>Soy una estudiante y me estoy formando como profesional.</h2>
  </div>
  <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" src="../../../assets/desarrollo-y-diseno-web.svg" alt="Hombrecito sentado programando.">
  </div>
</section>


